n8n_video_generator_workflow_fixed.json
{
  "name": "网页内容智能视频生成器",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f1a2b3c4-d5e6-7f8g-9h0i-j1k2l3m4n5o6",
      "name": "视频生成触发器",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "video-generator-webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url",
              "value": "={{ $json.body.url || '' }}"
            },
            {
              "name": "scene_count",
              "value": "={{ $json.body.scene_count || 10 }}"
            },
            {
              "name": "video_style",
              "value": "={{ $json.body.video_style || '专业商务' }}"
            },
            {
              "name": "voice_language",
              "value": "={{ $json.body.voice_language || '中文' }}"
            },
            {
              "name": "retry_count",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7g8h-9i0j-k1l2m3n4o5p6",
      "name": "输入参数设置",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "url-validation",
              "leftValue": "={{ $node['输入参数设置'].json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b2c3d4e5-f6g7-8h9i-0j1k-l2m3n4o5p6q7",
      "name": "URL验证",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "message": "请提供有效的URL地址",
        "options": {}
      },
      "id": "c3d4e5f6-g7h8-9i0j-1k2l-m3n4o5p6q7r8",
      "name": "URL错误提示",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [680, 480]
    },
    {
      "parameters": {
        "url": "={{ $node['输入参数设置'].json.url }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "d4e5f6g7-h8i9-0j1k-2l3m-n4o5p6q7r8s9",
      "name": "获取网页内容",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "data",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "title, h1",
              "returnValue": "text"
            },
            {
              "key": "description",
              "cssSelector": "meta[name='description'], .description, .summary",
              "returnValue": "text"
            },
            {
              "key": "price",
              "cssSelector": ".price, .cost, [class*='price'], [class*='cost']",
              "returnValue": "text"
            },
            {
              "key": "content",
              "cssSelector": "body",
              "returnValue": "text"
            }
          ]
        },
        "options": {}
      },
      "id": "e5f6g7h8-i9j0-1k2l-3m4n-o5p6q7r8s9t0",
      "name": "提取网页信息",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "// 智能内容分析和页面类型判断\nconst content = $input.first().json;\nconst url = $('输入参数设置').first().json.url;\nconst sceneCount = parseInt($('输入参数设置').first().json.scene_count);\nconst videoStyle = $('输入参数设置').first().json.video_style;\nconst voiceLanguage = $('输入参数设置').first().json.voice_language;\n\n// 提取和清理文本内容\nfunction cleanText(text) {\n  if (!text) return '';\n  return text.replace(/\\s+/g, ' ').replace(/[\\r\\n]+/g, ' ').trim();\n}\n\n// 判断页面类型\nfunction detectPageType(url, title, content) {\n  const urlLower = url.toLowerCase();\n  const titleLower = (title || '').toLowerCase();\n  const contentLower = content.toLowerCase();\n  \n  // 电商平台检测\n  const ecommercePatterns = [\n    'amazon', 'taobao', 'tmall', 'jd.com', 'shopify', 'alibaba',\n    'ebay', 'walmart', 'target', 'bestbuy', '购买', '商品', 'product',\n    'shop', 'store', 'buy', 'price', '$', '¥', '€', '£'\n  ];\n  \n  // 新闻平台检测\n  const newsPatterns = [\n    'news', 'article', 'report', 'breaking', '新闻', '报道', \n    'headline', 'story', 'press', 'media', '今日', '昨日'\n  ];\n  \n  let ecommerceScore = 0;\n  let newsScore = 0;\n  \n  ecommercePatterns.forEach(pattern => {\n    if (urlLower.includes(pattern) || titleLower.includes(pattern) || contentLower.includes(pattern)) {\n      ecommerceScore++;\n    }\n  });\n  \n  newsPatterns.forEach(pattern => {\n    if (urlLower.includes(pattern) || titleLower.includes(pattern) || contentLower.includes(pattern)) {\n      newsScore++;\n    }\n  });\n  \n  if (ecommerceScore > newsScore) return 'ecommerce';\n  if (newsScore > ecommerceScore) return 'news';\n  return 'general';\n}\n\n// 提取关键信息\nconst title = cleanText(content.title);\nconst description = cleanText(content.description);\nconst price = cleanText(content.price);\nconst fullContent = cleanText(content.content);\n\n// 判断页面类型\nconst pageType = detectPageType(url, title, fullContent);\n\n// 根据页面类型生成不同的提示词\nlet extractionPrompt = '';\n\nif (pageType === 'ecommerce') {\n  extractionPrompt = `请分析以下电商商品页面内容，提取关键信息：\\n\\n标题：${title}\\n描述：${description}\\n价格：${price}\\n\\n请提取以下信息并以JSON格式返回：\\n1. 产品名称 (product_name)\\n2. 主要特性 (main_features)\\n3. 价格信息 (price_info)\\n4. 目标用户 (target_audience)\\n5. 产品优势 (advantages)\\n6. 使用场景 (use_cases)`;\n} else if (pageType === 'news') {\n  extractionPrompt = `请分析以下新闻页面内容，提取关键信息：\\n\\n标题：${title}\\n内容：${fullContent.substring(0, 2000)}\\n\\n请提取以下信息并以JSON格式返回：\\n1. 新闻标题 (news_title)\\n2. 主要事件 (main_event)\\n3. 关键人物 (key_people)\\n4. 时间地点 (time_location)\\n5. 重要细节 (important_details)\\n6. 影响分析 (impact_analysis)`;\n} else {\n  extractionPrompt = `请分析以下网页内容，提取关键信息：\\n\\n标题：${title}\\n描述：${description}\\n内容：${fullContent.substring(0, 2000)}\\n\\n请提取以下信息并以JSON格式返回：\\n1. 主题 (main_topic)\\n2. 关键点 (key_points)\\n3. 目标受众 (target_audience)\\n4. 核心信息 (core_message)\\n5. 相关细节 (related_details)`;\n}\n\nreturn {\n  page_type: pageType,\n  url: url,\n  raw_content: {\n    title: title,\n    description: description,\n    price: price,\n    content: fullContent.substring(0, 3000)\n  },\n  extraction_prompt: extractionPrompt,\n  scene_count: sceneCount,\n  video_style: videoStyle,\n  voice_language: voiceLanguage\n};"
      },
      "id": "f6g7h8i9-j0k1-2l3m-4n5o-p6q7r8s9t0u1",
      "name": "内容分析与类型判断",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "url": "https://api-inference.huggingface.co/models/google/flan-t5-large",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_HF_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"inputs\": \"{{ $json.extraction_prompt }}\",\n  \"parameters\": {\n    \"max_length\": 1000,\n    \"temperature\": 0.3\n  }\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "g7h8i9j0-k1l2-3m4n-5o6p-q7r8s9t0u1v2",
      "name": "AI信息提取",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "huggingface-api",
          "name": "Hugging Face API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// 生成分镜脚本\nconst aiResponse = $input.first().json;\nconst analysisData = $('内容分析与类型判断').first().json;\n\nlet extractedInfo = '';\nif (Array.isArray(aiResponse) && aiResponse.length > 0) {\n  extractedInfo = aiResponse[0].generated_text || JSON.stringify(analysisData.raw_content);\n} else {\n  extractedInfo = JSON.stringify(analysisData.raw_content);\n}\n\n// 根据页面类型生成分镜脚本\nconst pageType = analysisData.page_type;\nconst sceneCount = analysisData.scene_count;\nconst videoStyle = analysisData.video_style;\nconst voiceLanguage = analysisData.voice_language;\n\n// 创建默认分镜\nconst scenes = [];\nfor (let i = 1; i <= sceneCount; i++) {\n  let sceneDescription = '';\n  let narration = '';\n  \n  if (pageType === 'ecommerce') {\n    sceneDescription = `专业商品展示场景${i}，突出产品特色和优势`;\n    narration = `这是第${i}个分镜，展示产品的重要特性`;\n  } else if (pageType === 'news') {\n    sceneDescription = `新闻报道场景${i}，客观展示事件内容`;\n    narration = `这是第${i}个分镜，报道新闻的关键信息`;\n  } else {\n    sceneDescription = `内容展示场景${i}，传达核心信息`;\n    narration = `这是第${i}个分镜，介绍主要内容`;\n  }\n  \n  // 风格映射\n  const styleMapping = {\n    '专业商务': 'professional business style, clean corporate aesthetic, high-quality product photography',\n    '活泼轻松': 'vibrant and playful style, bright colors, energetic composition',\n    '高端奢华': 'luxury premium style, elegant sophisticated aesthetic, high-end fashion photography',\n    '简约现代': 'minimalist modern style, clean lines, contemporary design'\n  };\n  \n  const stylePrompt = styleMapping[videoStyle] || 'professional style';\n  \n  scenes.push({\n    scene_number: i,\n    image_prompt: `${sceneDescription}, ${stylePrompt}, cinematic lighting, 4K quality, detailed`,\n    narration: narration,\n    duration: 5,\n    camera_movement: i % 2 === 0 ? 'slow zoom in' : 'steady shot',\n    style_notes: videoStyle\n  });\n}\n\nreturn {\n  scenes: scenes,\n  total_scenes: scenes.length,\n  video_style: videoStyle,\n  voice_language: voiceLanguage,\n  page_type: pageType,\n  original_url: analysisData.url,\n  extracted_info: extractedInfo\n};"
      },
      "id": "h8i9j0k1-l2m3-4n5o-6p7q-r8s9t0u1v2w3",
      "name": "生成分镜脚本",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "i9j0k1l2-m3n4-5o6p-7q8r-s9t0u1v2w3x4",
      "name": "分镜处理循环",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "url": "https://api-inference.huggingface.co/models/stabilityai/stable-diffusion-xl-base-1.0",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_HF_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"inputs\": \"{{ $json.image_prompt }}\",\n  \"parameters\": {\n    \"num_inference_steps\": 20,\n    \"guidance_scale\": 7.5,\n    \"width\": 1024,\n    \"height\": 576\n  }\n}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "j0k1l2m3-n4o5-6p7q-8r9s-t0u1v2w3x4y5",
      "name": "生成分镜图像",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "huggingface-api",
          "name": "Hugging Face API"
        }
      },
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "image-success-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "k1l2m3n4-o5p6-7q8r-9s0t-u1v2w3x4y5z6",
      "name": "检查图像生成状态",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "jsCode": "// 处理图像生成成功的情况\nconst imageData = $input.first().binary;\nconst sceneData = $('分镜处理循环').first().json;\n\nreturn {\n  scene_number: sceneData.scene_number,\n  image_data: imageData,\n  narration: sceneData.narration,\n  duration: sceneData.duration,\n  camera_movement: sceneData.camera_movement,\n  status: 'success',\n  image_prompt: sceneData.image_prompt\n};"
      },
      "id": "l2m3n4o5-p6q7-8r9s-0t1u-v2w3x4y5z6a7",
      "name": "处理成功图像",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 220]
    },
    {
      "parameters": {
        "jsCode": "// 处理图像生成失败的情况\nconst sceneData = $('分镜处理循环').first().json;\n\nreturn {\n  scene_number: sceneData.scene_number,\n  status: 'failed',\n  error: 'Image generation failed',\n  image_prompt: sceneData.image_prompt,\n  narration: sceneData.narration,\n  duration: sceneData.duration\n};"
      },
      "id": "m3n4o5p6-q7r8-9s0t-1u2v-w3x4y5z6a7b8",
      "name": "处理图像失败",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 380]
    },
    {
      "parameters": {
        "mode": "combineByPosition",
        "options": {}
      },
      "id": "n4o5p6q7-r8s9-0t1u-2v3w-x4y5z6a7b8c9",
      "name": "合并所有分镜",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2880, 300]
    },
    {
      "parameters": {
        "jsCode": "// 生成最终结果\nconst allScenes = $input.all();\nconst projectData = $node['生成分镜脚本'].json;\n\n// 过滤成功的分镜\nconst successfulScenes = allScenes.filter(scene => scene.json.status === 'success');\nconst failedScenes = allScenes.filter(scene => scene.json.status === 'failed');\n\nif (successfulScenes.length === 0) {\n  return {\n    status: 'error',\n    message: '所有分镜生成失败',\n    failed_count: failedScenes.length\n  };\n}\n\n// 按场景编号排序\nsuccessfulScenes.sort((a, b) => a.json.scene_number - b.json.scene_number);\n\n// 准备结果数据\nconst sceneResults = successfulScenes.map(scene => ({\n  scene_number: scene.json.scene_number,\n  narration: scene.json.narration,\n  duration: scene.json.duration,\n  status: 'completed',\n  image_available: true\n}));\n\nconst summary = {\n  total_scenes: projectData.total_scenes,\n  successful_scenes: successfulScenes.length,\n  failed_scenes: failedScenes.length,\n  success_rate: (successfulScenes.length / projectData.total_scenes * 100).toFixed(2) + '%',\n  original_url: projectData.original_url,\n  page_type: projectData.page_type,\n  video_style: projectData.video_style,\n  voice_language: projectData.voice_language\n};\n\nreturn {\n  status: 'completed',\n  message: '视频脚本和图像生成完成',\n  summary: summary,\n  scenes: sceneResults,\n  timestamp: new Date().toISOString(),\n  next_steps: [\n    '1. 下载生成的图像',\n    '2. 使用视频编辑软件制作动画',\n    '3. 添加配音和音效',\n    '4. 导出最终视频'\n  ]\n};"
      },
      "id": "o5p6q7r8-s9t0-1u2v-3w4x-y5z6a7b8c9d0",
      "name": "准备最终结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"data\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "id": "p6q7r8s9-t0u1-2v3w-4x5y-z6a7b8c9d0e1",
      "name": "返回最终结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3320, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"网页内容获取失败\",\n  \"message\": \"请检查URL是否有效，或稍后重试\"\n}",
        "options": {}
      },
      "id": "q7r8s9t0-u1v2-3w4x-5y6z-a7b8c9d0e1f2",
      "name": "网页获取错误",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 480]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"AI服务暂时不可用\",\n  \"message\": \"请稍后重试，或检查API配置\"\n}",
        "options": {}
      },
      "id": "r8s9t0u1-v2w3-4x5y-6z7a-b8c9d0e1f2g3",
      "name": "AI服务错误",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 480]
    }
  ],
  "connections": {
    "视频生成触发器": {
      "main": [
        [
          {
            "node": "输入参数设置",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "输入参数设置": {
      "main": [
        [
          {
            "node": "URL验证",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL验证": {
      "main": [
        [
          {
            "node": "获取网页内容",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "URL错误提示",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取网页内容": {
      "main": [
        [
          {
            "node": "提取网页信息",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "网页获取错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取网页信息": {
      "main": [
        [
          {
            "node": "内容分析与类型判断",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "内容分析与类型判断": {
      "main": [
        [
          {
            "node": "AI信息提取",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI信息提取": {
      "main": [
        [
          {
            "node": "生成分镜脚本",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "AI服务错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成分镜脚本": {
      "main": [
        [
          {
            "node": "分镜处理循环",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "分镜处理循环": {
      "main": [
        [
          {
            "node": "生成分镜图像",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成分镜图像": {
      "main": [
        [
          {
            "node": "检查图像生成状态",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "检查图像生成状态",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查图像生成状态": {
      "main": [
        [
          {
            "node": "处理成功图像",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "处理图像失败",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理成功图像": {
      "main": [
        [
          {
            "node": "合并所有分镜",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理图像失败": {
      "main": [
        [
          {
            "node": "合并所有分镜",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合并所有分镜": {
      "main": [
        [
          {
            "node": "准备最终结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "准备最终结果": {
      "main": [
        [
          {
            "node": "返回最终结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-27T12:00:00.000Z",
  "versionId": "1"
}